name: ci

on:
  # push:
  #   branches:
  #     - master
  # schedule:
  #   - cron: "*/120 * * * *"

jobs:
  autogreen:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Auto green
        run: |
          git config --local user.email "1793980864@qq.com"
          git config --local user.name "fang-kang"
          git remote set-url origin https://${{ github.actor }}:${{ secrets.GITHUB }}@github.com/${{ github.repository }}
          git pull --rebase
          date +"%Y-%m-%d %H:%M:%S.%N" > keepchange.txt
          git add .
          git commit -m "chore: update"
          git push